/* 기본 스타일 설정 */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

.bottom {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 200px;
}

.whenNull {
  height: 50px;
}

.title {
  margin-left: 15%;
}

.summitButton {
  background-color: #4caf50;
  color: white;
  border: none;
  width: 100px;
  height: 50px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.questionBox {
  background-color: white;
  padding: 20px 60px 25px 60px;
  border-radius: 15px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: -30px;
}

.questionBox p {
  margin-bottom: -5px;
}

.radioButton {
  width: 30px;
  height: 20px;
}

.radioButtonBox {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.radioBox {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

div {
  margin: 10px 0;
}

/* 라디오 버튼 스타일 */
input[type="radio"] {
  margin-right: 10px;
}

button:hover {
  background-color: #45a049;
}

/* 돌아가기 링크 스타일 */
a {
  display: inline-block;
  margin-top: 20px;
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
