<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>설문 목록</title>
  </head>
  <body>
    <h1>설문 목록</h1>
    <ul>
      {% for survey in surveys %}
      <li>
        {{ survey.title }} {% if survey.id in participated_survey_ids %}
        <span style="color: green">(참여 완료)</span>
        {% endif %}
        <a
          href="{{ url_for('take_survey', session_id=session_id, survey_id=survey.id) }}"
          >참여하기</a
        >
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
