<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>{{ survey.title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='take_survey.css') }}"
    />
  </head>
  <body>
    <h2 class="title">{{ survey.title }}</h2>
    <form method="POST">
      {% for question in survey.questions %}
      <div
        class="{% if not question.text and not question.markdown_text and not question.likert_scales %}whenNull{% else %}questionBox{% endif %}"
      >
        {% if question.text %}
        <p>{{ question.text }}</p>
        {% endif %} {% if question.markdown_text %}
        <div>{{ question.markdown_text | markdown | safe }}</div>
        {% endif %} {% if question.likert_scales %}
        <div class="radioBox">
          {% for scale in question.likert_scales %}
          <div class="radioButtonBox">
            <input
              class="radioButton"
              type="radio"
              name="{{ question.id }}"
              value="{{ scale.id }}"
              required
            />
            <label for="{{ scale.id }}">{{ scale.scale_text }}</label><br />
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}
      <div class="bottom">
        <a href="{{ url_for('session_survey_list', session_id=session_id) }}"
          >목록으로 돌아가기</a
        >
        <button class="summitButton" type="submit">제출</button>
      </div>
    </form>
  </body>
</html>
